<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="graphTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <graphTest.Properties.Settings>
            <setting name="FastAcumulate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MediumAcumulate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SlowAcumulate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FastResolution" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MediumResolution" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SlowResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FastDeadTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MediumDeadTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SlowDeadTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="WaveMeterComPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="autoConnectWaveMeter" serializeAs="String">
                <value>True</value>
            </setting>
        </graphTest.Properties.Settings>
    </userSettings>
</configuration>
